.nav-items {
    margin: 0 100px;
}

.nav-link {
    margin: auto 5px
}

.inner {
    margin: 10rem 0 0 0;
}

footer {
    text-align: center;
}

.form-cont {
    margin: 9rem auto auto auto;
}

.rubric-cont {
    margin: 5rem auto auto auto;
}

h5 {
    color: #0AA1DD;
}

#submit {
    margin-top: 20px;
    width: 120px;
}

#edit {
    margin-top: 20px;
    width: 120px;
}

#cancel {
    margin-top: 20px;
    width: 120px;
    margin-left: 15px;
}

.item-form {
    height: 40px;
}

/************************ Table report grades *************************/

.table {
    border-spacing: 0;
    margin: 1rem;
    background-color: #ffffff;
}

.table__row:nth-child(even) {
    background-color: #f5f5f5;
}



.table__cell {
    padding: 8px;
}

/********************************* Footer ******************************/

/* footer {
    position: fixed;
    bottom: 0;
    left:0;
    width: 100%;
} */