{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_name %}New rubric{% endblock %}

{% block page_content %}

  <div class="container">

    <h1 class="my-5">Rubric: {{ rubric.rubric_name }}</h1>
    <h3 class="mb-3">Add Item </h3>

      {{ wtf.quick_form(form, novalidate=True, button_map={"submit": "primary"}) }}
      <hr class="my-5">
  </div>   

  <div class="container rubric-cont">
    
    <table class="table table-hover">
      <thead>
        <tr class="align-top">
          <th scope="col">Criterion</th>
          <th scope="col">Description</th>
          <th scope="col" class="text-end">Weight (%)</th>
          <th scope="col" class="text-end">Edit</th>
          <th scope="col" class="text-end">Remove</th>
        </tr>
      </thead>
      <tbody>
        {% for item in rubric.items %}
        <tr>
            <th scope="row"> {{ item.criterion }}</th>
            <td>{{ item.description }}</td>
            <td class="text-end">{{ item.weight }}</td>
            <td class="text-end"><a href="{{ url_for('edit_item', item_id=item.id) }}">Edit</a></td>
            <td class="text-end"><a href="{{ url_for('delete_item', item_id=item.id) }}">Remove</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

{% include "footer.html" %}
{% endblock %}