{% include "header.html" %}

<div class="container">
    <div class="row mt-5">

        <div class="col-6">
            <h3 class="mb-5">Activities</h3>
            <ul>
                <li>Activity 1</li>
                <li>Activity 2</li>
                <li>Activity 3</li>
                <li>Activity 4</li>
                <li>Activity 5</li>
            </ul>

            
        </div>

        <div class="mt-5">
            <a class="btn btn-primary mt-3" href="{{ url_for('new_rubric') }}">Create Rubric</a>
            <a class="btn btn-primary mt-3" href="#">Add Student</a>
            <a class="btn btn-primary mt-3" href="#">Create Activity</a>
            <a class="btn btn-primary mt-3" href="#">Create Goal</a><br>
            <a class="btn btn-primary mt-3" href="#">Load Report</a>
        </div>
    </div>
</div>

{% include "footer.html" %}