{% extends 'base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block page_name %} | Grade activity{% endblock %}

{% block page_content %}

  <div class="container rubric-cont">
    <h1>Activity: {{ activity.activity_name }}</h1>
    <h5 class="mb-4">Rubric: {{ activity.rubric.rubric_name }}</h5>
  </div>

  <form action="" method="POST">
    <div class="row">
      <div class="col-3">
        {{ form.csrf_token }}
        <div class="container mt-5">

          <div>
            {{ wtf.form_field(form.group, class="form-control") }}
          </div>

          <div class="mt-3" id="students-list">
            {{ wtf.form_field(form.students, class="form-control") }}
          </div>
        </div>
      </div>

      <div class="col-9">
        <div class="container rubric-cont">
          <table class="table table-hover">
            <thead>
              <tr class="align-top">
                <th scope="col">Criterion</th>
                <th scope="col">Description</th>
                <th scope="col">Weight</th>
                <th scope="col">Points (Out of 10)</th>
                <th scope="col">Observations</th>
              </tr>
            </thead>
            <tbody>
            {% for item in activity.rubric.items %}
              <tr>
                <th scope="row">{{ item.criterion }}</th>
                <td>{{ item.description }}</td>
                <td class="text-center item-weight">{{ item.weight }}</td>
                <td><input class="item-points" type="number" name={{ item.id }} id="points{{ item.id }}" min="0" max="10" oninput="changeScore()"></td>
                <td><input type="text" name="obs{{item.id}}" id="obs{{ item.id }}"></td>
              </tr>
            {% endfor %}        
            </tbody>
          </table>

          <div class="row">
            <div class="col">
                <button class="btn btn-primary" type="submit">SAVE</button>
            </div>

            <div class="col">
              <p class="mt-2 text-end fs-5">TOTAL SCORE: <strong id="total-score">0.0</strong>/10</p>
            </div>

          </div>
          

          

        </div>
      </div>
    </div>
    

    
    
    

  </form>
    

  

{% include "footer.html" %}
{% endblock %}